html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #122129;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.welcome {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.welcome-hero {
    background: url("icons/welcome.svg") no-repeat;
    width: 167px;
    height: 240px;
    margin: 0 auto -40px;
}

.welcome > h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 52px;
}

.welcome-description {
    margin-top: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
}

.welcome-add {
    margin-top: 25px;
    transition: transform 200ms;
}

.welcome-add:hover {
    transform: scale(1.05);
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 70px;
}

th {
    color: white;
    padding: 0.5em;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
}

.header {
    height: 30px;
    background: #355A6F;
    text-transform: uppercase;

}

.row > td {
    vertical-align: top;
    padding: 20px 0 15px;
}

.row.inactive {
    color: #B8BCBF;
}

.row.inactive img {
    opacity: 0.5;
}

.progressbar-row {
    height: 5px;
    border-bottom: 2px solid #E7EDF0;
}

.progressbar {
    background: #1FAEFF;
    height: 5px;
    animation: progress 40s ease-in-out;
    animation-iteration-count: 1;
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.play-pause {
    margin-left: 15px;
}

.route {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    margin-top: 3px;
}

.route .origin {
    margin-right: 10px;
}

.route .destination {
    margin-left: 10px;
}

.dates {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.price-found {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.agency {
    min-width: 140px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}

.others {
    margin-right: -90px;
}

.others > div {
    display: flex;
    margin: 15px 0;
}

.other-agency {
    cursor: pointer;
    display: block;
    color: #1FAEFF;
    text-decoration: none;
}

.other-agency:hover {
    color: #1FAEFF;
    text-decoration: underline;
}

.other-price {
    font-size: 18px;
    cursor: pointer;
    display: block;
    color: #1FAEFF;
    text-decoration: none;
    margin: 0 0 0 auto;
}

.other-price:hover {
    color: #1FAEFF;
    text-decoration: none;
}

.other-price-error {
    cursor: auto;
    margin: 0 0 0 auto;
}

.agency-more {
    margin-top: 7px;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    color: #779EB3;
}

.agency-more > img {
    margin-left: 3px;
}

.best-price {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-right: 20px;
}

.best-price > img {
    margin-right: 5px;
}

.controls {
    display: flex;
    flex-direction: row;
}

.controls > * + * {
    margin-left: 20px;
}

.btn {
    width: 137px;
    height: 36px;
    line-height: 36px;
    background: #FFC045;
    border-radius: 150px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 200ms;
}

.btn:hover {
    transform: scale(1.05);
}

img {
    cursor: pointer;
}

.add-subscription {
    position: fixed;
    bottom: 0;
    cursor: pointer;
    left: calc(50% - 33px);
    transition: transform 200ms;
}

.add-subscription:hover {
    transform: scale(1.1);
}

/* paw loader */
.paw-loader {
    transform-origin: 50% 50%;
    transform: rotate(90deg) translate(-50%, -300%);
    font-size: 50px;
    width: 20px;
    height: 40px;
}
.paw-loader .paw {
    width: 16px;
    height: 16px;
    animation: 2050ms pawAnimation ease-in-out infinite;
    opacity: 0;
}
.paw-loader .paw svg {
    width: 100%;
    height: 100%;
}
.paw-loader .paw .icon {
    fill: currentColor;
}
.paw-loader .paw:nth-child(odd) {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.paw-loader .paw:nth-child(even) {
    -webkit-transform: rotate(10deg) translate(125%, 0);
    transform: rotate(10deg) translate(125%, 0);
}
.paw-loader .paw:nth-child(1) {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}
.paw-loader .paw:nth-child(2) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.paw-loader .paw:nth-child(3) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}
.paw-loader .paw:nth-child(4) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.paw-loader .paw:nth-child(5) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.paw-loader .paw:nth-child(6) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.no-cssanimations .paw-loader .paw {
    opacity: 1;
}

@-webkit-keyframes pawAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pawAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

